---
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';

const {image="", tag="", name="", location="", date="",} = Astro.props;
---

<div>  
    <div class=" w-[272px] lg:w-[342px] h-full lg:h-[700px] overflow-hidden">
        <a href="singleview">
            <div class="overflow-hidden">
            <img src={image} alt={name} class="w-full h-[322px] lg:h-[400px] object-cover mb-2 overflow-hidden hover:scale-125 transition duration-500 ease-in-out cursor-pointer "/>
            </div>
        </a>
        <div class="flex flex-col content-between">
            <div class="mt-2 grow">
                <span class="text-sm lg:text-base text-[#71A5B5] font-body font-bold ">{tag}</span>
                <h3 class="text-2xl lg:text-[28px] font-heading text-green1 font-bold  mt-2">{name}</h3>
                
                <div class="flex items-center gap-2 mb- content-center">
                    <img src="/images/performances/location.svg" alt="">
                    <p class="text-green1 font-body">{location}</p>
                </div>
                <div class="flex items-center gap-2 mb-2 content-center">
                    <img src="/images/performances/calendar.svg" alt="">
                    <p class="text-green1 font-body">{date}</p>
                </div>
            </div>
            <div class="flex gap-4 mt-4 items-center justify-between">
                <a href="/images/index/tickets_image.webp" target="_blank"><Button>Køb Billetter</Button></a>
                <Link href="/singleview">Læs Mere →</Link>
            </div>
        </div>
    </div>
</div>